img.title {
	margin-left: 100px;
}

div.hero {
	background-color: blue;
	float: right;
	padding-left: 500px;
	margin-left: 200px;
	display: inline-block;
	padding-bottom: 100px;
}

div.navi:hover {
	float: right;
	list-style-type: none;

}

header {
	clear: both;
	position: relative;
}

.talkie {
	position: absolute;
	left: 400px;
	top: 300px;
	border: solid black;
}

.ex1 {

}

.navi {
	float: right;
	list-style-type: none;
}